.Portfolio{
  h3{
    background-color: #003763;
    padding: 10px;
    font-weight: lighter;
    font-size: 14px;
    display: inline-block;
    color: #f4841a;
  }
  h1{
    margin-top: 5px;
    color: #003763;
    margin-bottom: 15px;
  }
  .lists{
    li{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 80%;
      div{
        margin-right: 25px;
      }
      a{
        color: #003763;
        margin-right: 5px;
        transition: .5s;
        &:hover{
          color: #f4841a;
        }
      }
    }
  }
}