.Footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  p{
    font-size: 20px;
    color: #003763;
    margin-right: 15px;
  }
  a{
    color: #003763;
    margin: 0 10px;
    font-size: 20px;
    transition: .5s;
    &:hover{
      &.fb{
        color: #3b5999;
      }
      &.ld{
        color: #0077B5;
      }
      &.pt{
        color: #bd081c;
      }
      &.st{
        color: #f48024;
      }
      &.git{
        color: #333;
      }
    }
  }
}